.TABLEKHUN {
  white-space: nowrap !important ;
  max-height: 400px !important;
  overflow: auto !important;
}
.TABLEKHUN th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #436850;
  color: #ffffff;
}

.DD {
  padding: 60px;
}
.BB {
  padding: 60px;
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: center;
}

/* .TexttableA {
    text-align: left !important;
  } */

.PopupEditPerson {
  display: flex;
}

.PopupEditPerson td {
  padding: 0px;
  border: 0;
  padding-left: 10px;
}
.red-star {
  color: red;
}
