.body {
  margin-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
}
.responsive-container {
  /* padding: 20px; */
  max-width: 100%;
  overflow-x: auto;
  margin-top: 30px;
}
.table {
  margin: 50px auto;
  width: 70%;
}
.table td {
  height: 10px !important;
  font-size: 12px !important;
  padding: 0;
  margin-bottom: 30px;
}
.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  text-align: center;
}
.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root {
  text-align: center;
}
.txt-search {
  width: 318px;
}
.ListItem {
  cursor: pointer;

  color: rgb(119, 118, 118);
  width: 95%;
  margin-left: 5px;
}

.ListItem:hover {
  background-color: #bae7ff; /* เมื่อโฮเวอร์ */
  border-radius: 10px;
  color: #40a9ff;
  width: 95%;
  margin-left: 5px;
}

/* สไตล์สำหรับรายการรายการย่อย */
.SubMenuItem {
  cursor: pointer;
  margin-left: 20px;

  width: 50%;
}

.SubMenuItem:hover {
  background-color: #bae7ff; /* เมื่อโฮเวอร์ */
  border-radius: 10px;
  color: #40a9ff;
  width: 90%;
}
/* .BoxSearch {
  margin-bottom: 50px;
  padding-bottom: 10px;
} */
.Box-Insert {
  height: 700px;
}
.Insert {
  max-height: 500px;
}
.ant-upload-list-item-name {
  background-color: #40a9ff;
  font-size: 18px;
}
.Modal {
  width: 900px;
  min-height: 100px;
  /* margin-left: 20px; */
  padding: 0px 20px 0px 20px;
}

.Modal-Table th {
  background-color: #acfe8b;
  height: 1px;
  font-size: 15px;
  padding: 0px;
  font-weight: bold;
}
.Modal-Table td {
  padding: 0px;
  font-size: 15px;
  font-size: 12px;
}

.Style1 {
  width: 100%;
 
  justify-content: center;
}

.Style2 {
  width: 90%;
  padding: 1%;
}

.Style3 {
  width: 100%;
}
.Style4 {
  width: 15%;
  text-align: right;
 
}

.Style5 {
  width: 30%;
  text-align: center;
}
.Style6 {
  justify-content: center;
}

.Style7 {
  width: 10% ; 
  text-align: right;
}

.Style8 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.Style100 {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0 !important;
 
}
.Button_forGenNo {
  display: flex;
  justify-content: right;
  margin-right: 300px;
  margin-top: 10px;
}
.bt_ChooseFile{
  /* margin-top: 3px !important;
  height: 100px;
  width:100% !important;
  border: 1px dashed   gray !important;
  border-radius: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important; */
  background-color: #f7faff; 
  display: block;
  text-align: center;
  padding: 20px;
  border: 2px dashed #B4D4FF;
  border-radius: 8px;
  cursor: pointer;
  width: 350px;
  margin-top: 30px;
  
}
.BorderFile{
  border: 2px solid #EEEEEE !important;
  border-radius: 5px !important;
  margin-bottom: 5px !important;
  height: 70px !important;
}

.Font_File{
  margin-top: 20px !important;
  display: flex  !important;
  justify-content: space-between !important;
  align-items: center  !important;
  font-size: 20px  !important;
  justify-items: left  !important;
}
.Icon_DeleteFile{
  color: #af959b ;
  font-size: 20px !important;
  cursor: pointer;
  margin-right: 10px;
}

.Icon_DeleteFile:hover{
  color: #D80032 ;
  font-size: 20px !important;
  cursor: pointer;
  margin-right: 10px;
}
.Icon_file{
font-size: 30px;
width: 50px;
margin-right: 10px;
}
.Img_file{
  font-size: 30px;
  width: 50px;
  margin-right: 10px;
  height: 100%;
}
.Fix-Style{
  padding: 20px;


}
/* .TableFix{
  white-space: nowrap !important ;
  max-height: 400px !important;
  overflow: auto !important;
} */
.TableFix th {
  color: #EEEEEE;
  white-space: nowrap;
}
.TableFix td {

  white-space: nowrap;
}

.Serach-Data th{
 background-color: #436850 ;
 color: #EEEEEE;
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.5);
  z-index: 1000; 
}
 
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 60%; 
  /* height: 80%; */
  text-align: center;
}
.DivTableFam{
 
  justify-content: center;
  display: flex;
  border-radius: 20px;
 
 }
 .DivTableFam th {
  background-color: #436850;
  white-space: nowrap;
  color: rgb(253, 251, 251);
  position: sticky;
  top: 0;
  z-index: 1;
}
 
 
.DivTableFam td {
  /* border: 1px solid red; */
 
  white-space: nowrap;
}
.FileShow {
  padding: 40px;
  
 margin: 30px;
  display: flex;
  justify-content: center; /* จัดเลย์เอาต์ให้อยู่กึ่งกลางในแนวนอน */
  align-items: center; 
  border-radius: 10px;
  background-color: #e1e9db;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
  width: 700px;
}
/* .FileShow th {
  margin: 40px;
  background-color: ;
  border: 1px solid red;
} */
 
.FamFilePopUp{
  justify-content: center;
  display: flex;
  overflow: auto; /* Add this line for scroll */
  position: sticky;
  top: 0;
  z-index: 1;
 

 
 
 }
 .FamFilePopUp th {
  background-color: #436850;
  white-space: nowrap;
  color: rgb(253, 251, 251);
  font-size: 14px;
  font-weight: bold;
  
 
}
.FamFilePopUp td {
  background-color: #f7f9f8;
  white-space: nowrap;
  color: rgb(19, 18, 18);
  font-size: 14px;
 
  
 
}
 
.FamFilePopUp td {
  /* border: 1px solid red; */
 padding: 4;
  white-space: nowrap;
}
.Show-Data-File{
  width: 900px;
  padding: 10px;
}
.All-Layout-File{
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 50px;
}
.ImageShowFile{
 width: 100%;
  margin-left: 100px;
}
.File_For_Show th {
  background-color: #92CEA8;
  font-size: medium;
  font-weight: bold; /* This makes the text bold */
}
.File_For_Show td {
  font-size: medium;
  font-weight: bold; /* This makes the text bold */
}

.TableShow{
  justify-content: center;
  display: flex;
  overflow: auto; /* Add this line for scroll */
  position: sticky;

}
.Table_file_for_req{
  /* border: 1px red solid; */
  width: 100%;
padding: 50px;
  width: 90%;
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
 


}
.Table_Show_req1{
  border-radius: 10px;
  background-color: #e2eded;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 
 

}
.Table_Show_req2{
  margin-left:30px ;
  /* border-radius: 10px;
 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  */

 
}
.SarchFill td{
  padding: 5px;
  /* border: 1px solid yellow !important;
  border: 1px solid blue !important; */

}


.Filter{
  justify-content: center;
  display: flex;
  /* border: 1px solid yellow !important */
}
Backgroud-card-menu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px,
    rgba(34, 34, 34, 0.1) 0px 0px 0px 1px !important;
  padding: 8px 8px 8px 8px;
}
 
.Backgroud-card-menu-show {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px,
    rgba(34, 34, 34, 0.1) 0px 0px 0px 1px !important;
  padding: 8px 8px 8px 8px;
  height: auto;
  background-color: #faffca !important;
}
 
.Backgroud-card-menu-paper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px,
    rgba(34, 34, 34, 0.1) 0px 0px 0px 1px !important;
  padding: 0px 0px 0px 0px !important;
  background-color: tomato !important;
}
 
.Backgroud-style-menulist1 {
  background-image: linear-gradient(to top, #4d6c68, #afc8ad) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist2 {
  background-image: linear-gradient(to top, #81689d, #dcbfff) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist3 {
  background-image: linear-gradient(to top, #4a55a2, #d2e0fb) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist4 {
  background-image: linear-gradient(to top, #387adf, #b7c9f2) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist5 {
  background-image: linear-gradient(to top, #40a2e3, #b4d4ff) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist6 {
  background-image: linear-gradient(to top, #7990a7, #d2e0fb) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Backgroud-style-menulist7 {
  background-image: linear-gradient(to top, #667680, #c9d7dd) !important;
  border-radius: 10% !important;
  height: 100% !important;
}
.Table-Shadow-menulist {
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.01) 0px 0px 1px 0px !important;
}
 
.Typography-font {
  font-size: large !important;
  color: white;
}
.Icon-style {
  color: white;
}
 
.Number-menu-list {
    text-align: center !important;
  }
 
.White-background {
  background-color: white;
  border-radius: 16px;
}
 
.Number-menu-list2 {
    text-align: center !important;
  }
 
.White-background2 {
  background-color: rgb(10, 88, 179);
  color: white;
  border-radius: 16px;
}
 
.Hoverhover:hover {
  background-color: lightgray;
}
 
.MenuPadding tr :hover {
  background-color: lightgray;
}
.ant-picker.ant-picker-small.css-dev-only-do-not-override-dkbvqv{

box-sizing: border-box;
    /* margin: 0; */
    padding: 4px 11px 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1;
    list-style: none;
    /* position: relative;  */
    /* display: inline-flex; */
    align-items: center;
    /* background: #ffffff; */
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    width:99%;
   height:40px
    /* transition: border 0.2s, */
}
.datepick .ant-picker-input > input {
  color: black !important;
}