.body {
  padding: 100px;
}
.responsive-container {
  /* padding: 20px; */
  max-width: 100%;
  overflow-x: auto;
  margin-top: 30px;
}
.table {
  margin: 50px auto;
  width: 70%;
}
.table td {
  height: 10px !important;
  font-size: 12px !important;
  padding: 0;
  margin-bottom: 30px;
}
.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  text-align: center;
}
.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root {
  text-align: center;
}
.txt-search {
  width: 318px;
}
.ListItem {
  cursor: pointer;

  color: rgb(119, 118, 118);
  width: 95%;
  margin-left: 5px;
}

.ListItem:hover {
  background-color: #bae7ff; /* เมื่อโฮเวอร์ */
  border-radius: 10px;
  color: #40a9ff;
  width: 95%;
  margin-left: 5px;
}

/* สไตล์สำหรับรายการรายการย่อย */
.SubMenuItem {
  cursor: pointer;
  margin-left: 20px;

  width: 50%;
}

.SubMenuItem:hover {
  background-color: #bae7ff; /* เมื่อโฮเวอร์ */
  border-radius: 10px;
  color: #40a9ff;
  width: 90%;
}
.BoxSearch {
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.Box-Insert {
  height: 700px;
}
.Insert {
  max-height: 500px;
}
.ant-upload-list-item-name {
  background-color: #40a9ff;
  font-size: 18px;
}
.Modal {
  width: 900px;
  min-height: 100px;
  /* margin-left: 20px; */
  padding: 0px 20px 0px 20px;
}

.Modal-Table th {
  background-color: #acfe8b;
  height: 1px;
  font-size: 15px;
  padding: 0px;
  font-weight: bold;
}
.Modal-Table td {
  padding: 0px;
  font-size: 15px;
  font-size: 12px;
}

.Style1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Style2 {
  width: 90%;
  padding: 1%;
}

.Style3 {
  width: 100%;
}
.Style4 {
  width: 15%;
  text-align: right;
  padding: 0.7%;
}

.Style5 {
  width: 30%;
  text-align: center;
}
.Style6 {
  justify-content: center;
}

.Style7 {
  width: 10%;
  text-align: right;
}

.Style8 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.Style100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Button_forGenNo {
  display: flex;
  justify-content: right;
  margin-right: 300px;
  margin-top: 10px;
}
