.responsive-container {
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
}
.table {
  margin: 50px auto;

  width: 70%;
}
.table td {
  height: 10px !important;
  font-size: 12px !important;
  padding: 0;
  margin-bottom: 30px;
}
.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root{
  text-align: center;
}
.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root{
  text-align: center;
}
#demo-simple-select-label{
  border: 1px solid red;
}
/* .table tr{
 border: 1px solid red;
} */
/* .MuiCardContent-root.css-46bh2p-MuiCardContent-root{
  border: 1px solid red;
} */
